---
# This is an example .travis.
# If you've forked this repo, please make sure  to change the notifications section

language: bash
sudo: required
services: docker

before_install:
  - docker pull aaroc/code-rade-sl6-ansible

install:
  - docker run -v $PWD:$PWD -w $PWD aaroc/code-rade-sl6-ansible ansible-playbook -c local -i handson/inventory.localhost handson/lesson1.yml
  - docker run -v $PWD:$PWD -w $PWD aaroc/code-rade-sl6-ansible ansible-playbook -c local -i handson/inventory.localhost handson/lesson3.yml

notifications:
  slack:
    rooms:
      - ansible4devops2015:It5SDeYANNXDtXh6YmbmO6Rh#testing
    on_success: always
    on_failure: always
    on_start: always
