---
# This is an example .travis.
# If you've forked this repo, please make sure  to change the notifications section
language: python
sudo: required
services: docker
os:
  - centos6
  - ubuntu14.04
  - ubuntu16.10
  - centos7
before_install:
  - docker pull aaroc/ansible-ready-${TRAVIS_OS_NAME}

install:
  - docker run -v $PWD:$PWD -w $PWD aaroc/ansible-ready-${TRAVIS_OS_NAME}  ansible-playbook -c local -i handson/inventory.localhost handson/lesson1.yml
  - docker run -v $PWD:$PWD -w $PWD aaroc/ansible-ready-${TRAVIS_OS_NAME} ansible-playbook -c local -i handson/inventory.localhost handson/lesson3.yml
  - sudo pip install ansible

script:
  - cd course-preparation/Ansible
  - ansible-playbook -c local -i localhost, -C training-lab.yml -e site_name=testing
  - ansible-playbook -c local -i localhost, training-lab.yml -e site_name=testing

notifications:
  slack:
    rooms:
      - ansible4devops2015:It5SDeYANNXDtXh6YmbmO6Rh#testing
    on_success: always
    on_failure: always
    on_start: always
